div.input {
    @apply relative border rounded-lg flex justify-center items-center overflow-hidden h-7;
    transition: background-color 100ms;
    overflow: hidden;
    .search-decoration {
        transition: transform 200ms;
    }
    input {
        padding: 4px 10px;
        width: 30vw;
        opacity: 0;
        transition: opacity 150ms;
        background-color: transparent;
        border: none;
        &:focus-within { outline: none; }
        &:focus{ opacity: 1; }
        &:focus + .search-decoration { transform: translateY(-50px); }
    }
    &:has(input:focus) { background-color: #ffffff11; }
}