
.navbar {
    min-width: 40px;
    padding: 10px;
    height: calc(100vh - 35px);
    top: 35px;
    border-bottom-left-radius: 10px;
}

.navbar.maximized { border-radius: 0; }

.avatar {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}