
.title-nav {
    width: 100vw;
    position: fixed;
    height: 35px;
    padding-left: 10px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff11;
}