
div.board-wrapper {
    overflow-x: auto;
    div.board {
        width: max-content;
        flex-wrap: nowrap;
        div.column{
            width: 360px;
            height: max-content;
            min-height: 100%;
        }
    }
}
