.tab-wrapper{
    .menu{
        @apply flex border-b py-2 gap-5;
        .item{ 
            cursor: pointer;
            transition: opacity 300ms;
            &:hover{ opacity: 0.7; }
            &:active{ opacity: 0.3; }
            &.active{
                @apply text-destructive;
                &::after{
                    @apply bg-destructive block w-full relative;
                    content: ' ';
                    height: 1px;
                    top: 9px;
                }
            }
        }
    }
}