@import './theme/index.scss';
@import './layout/index.scss';
@import './global.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // TODO: Design the scrollbar
    &::-webkit-scrollbar{
        display: none;
    }
}

body{ overflow: hidden; }

.code{
    @apply h-full overflow-auto;
    h1, h2, h3, h4, h5{
        @apply my-15 pb-10 border-b;
        &:first-child{
            @apply mt-0;
        }
    }

    p{ 
        @apply my-15;
        code {
            padding: 2px 5px;
            border-radius: 8px;
        } 
    }

    pre.inside {
        border-radius: 5px;
        padding: 20px;
        background-color: #222;
    }

    ul{
        list-style: none;
        li:first-child{ margin: 0; }
        li{
            line-height: 1.8em;
            margin-left: 30px;
        }
    }
}