@import './theme/index.scss';
@import './layout/index.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

body{ overflow: hidden; }