$primary: #55A4F1;
$primary-dark: #38699a;

$secondary: #2d4858ff;
$secondary-dark: #112f40ff;

$dark: #06151C;
$darker: #041016;

$danger: #e04745ff;
$danger-dark: #722c2eff;

$light: #b7c5cdff;
$lighter: #eef6fbff;

$success: #00A58C;
$success-dark: #4E6A81;
