@import './color.scss';

.text-primary{ color: $primary; }
.text-primary-dark{ color: $primary-dark; }

.text-secondary{ color: $secondary; }
.text-secondary-dark{ color: $secondary-dark; }

.text-dark{ color: $dark; }
.text-darker{ color: $darker; }

.text-danger{ color: $danger; }
.text-danger-dark{ color: $danger-dark; }

.text-light{ color: $light; }
.text-lighter{ color: $lighter; }

.text-success{ color: $success; }
.text-success-dark{ color: $success-dark; }

.bg-primary{ background-color: $primary; }
.bg-primary-dark{ background-color: $primary-dark; }

.bg-secondary{ background-color: $secondary; }
.bg-secondary-dark{ background-color: $secondary-dark; }

.bg-dark{ background-color: $dark; }
.bg-darker{ background-color: $darker; }

.bg-danger{ background-color: $danger; }
.bg-danger-dark{ background-color: $danger-dark; }

.bg-light{ background-color: $light; }
.bg-lighter{ background-color: $lighter; }

.bg-success{ background-color: $success; }
.bg-success-dark{ background-color: $success-dark; }

